@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
  background-color: rgb(179, 254, 255);
  width: 100%;
  overflow: hidden;
}

.container{
  scale: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.Wrapper{
text-align: center;
}

.Wrapper h3{
  font-size: 30px;
  font-weight: 600;
}

.Wrapper button{
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

